<h1 class="text-center">THERML</h1>
<p class="text-center">Your Energy Bill's Best Friend</p>


<%= render 'form' %>

<div id="temp"></div>

<div id="hot" >
  <div class= "panel panel-default">

    <div class="panel-body text-warning">Seems like it's going to be HOT in your area
    </div>
  </div>

  <h4>Here's some tips on how to save money on your air-conditioning bill</h4>

  <ul class="list-group">  
    <li class ="list-group-item">Before leaving your house in the morning, set your thermostat to 85°F</li>

    <li class ="list-group-item">When you get home, turn your thermostat back to 78°F</li>

    <li class ="list-group-item">Before going to bed at night, set your thermostat to 82°F </li>

  </ul>

</div>

<div id="cold">
   <div class = "panel panel-info">
     <div class = "panel-body text-primary">Seems like it's going to be COLD in your area
     </div>
   </div>

   <h4>Here's some tips on how to save money on your heater bill:</h4>

   <ul class="list-group">  
    <li class ="list-group-item">Before leaving your house in the morning, set your thermostat to 56°F</li>

    <li class ="list-group-item">When you get home, turn your thermostat back up to 68°F</li>

    <li class ="list-group-item">Before going to bed at night, set your thermostat to 56°F </li>
  </ul>

    <ul class="list-group">  
    <li class ="list-group-item">According to EnergyStar, every 1°F = Up to 3% of your total energy bill </li>
  </ul>

    <h4>Better purchase your thermals!</h4>

    <a href="http://www.amazon.com/s/ref=sr_nr_n_6?rh=n%3A1036592%2Cn%3A!1036682%2Cn%3A1040658%2Cn%3A1045706%2Cn%3A5888820011&bbn=1045706&ie=UTF8&qid=1383503947&rnid=1045706"><img src="http://photos.amazingsocks.com/300/41dr-coldmaster-no-scent-hunter-thermal-pant.jpg" /></a>
    <a href="http://www.amazon.com/s/ref=sr_nr_n_6?rh=n%3A1036592%2Cn%3A!1036682%2Cn%3A1040658%2Cn%3A1045706%2Cn%3A5888820011&bbn=1045706&ie=UTF8&qid=1383503947&rnid=1045706"><img src="https://images-na.ssl-images-amazon.com/images/G/01/associates/remote-buy-box/buy1._V192207739_.gif" alt=""></a>



</div>

